<h4 class="ui center aligned medium icon header">
  <i class="circular assistive listening systems icon red"></i>
  Say something
</h4>
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content" id="messages">
        <div id="messages-container" class="ui feed">
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <%= form_for(@message, html: {class: 'ui reply form', role: 'form'}, url: message_path, remote: true ) do |f| %>
          <div class="field">
            <div class="ui fluid icon input">
              <%= f.text_field :body, placeholder: 'Enter new message' %>
              <%= f.button '<i class="bordered inverted red icon edit"></i>'.html_safe %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="active item">
            Active users
          </a>
          <a class="item">
            TODO
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
