<div class="ui inverted small menu">
  <div class="ui container">
    <%= link_to 'Chatroom', root_path, class: 'item' %>
    <a class="item">
      Messages
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        Account <i class="dropdown icon"></i>
        <div class="menu">
          <% if logged_in? %>
            <%= link_to 'Log out', logout_path, method: :delete, class: 'item' %>
          <% else %>
            <%= link_to 'Log in', login_path, class: 'item' %>
          <% end %>
        </div>
      </div>
      <% unless logged_in? %>
        <div class="item">
          <%= link_to 'Sign in', login_path, class: "ui red button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
